.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; /*somente inline nao permite alterar altura e largura da span que nesse caso é 24x24px*/
}

.container__botao:checked ~ .container__rotulo > .container__imagem{ 
    background-image: url("../img/MenuAberto.svg");                        
 /*quando o .container__botao esta marcado, o til procura o elemento que tem .container__rotulo, no caso a label, e depois, o sinal de maior ele procura algo dentro desse elemento label, no caso o menu-amburguer*/
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*o valor relative permite usar atributos como left, right, top e bottom, então usa-se relative no pai para colocar o absolute no filho (lista-menu) e conseguir movimenta-lo para baixo */
    

}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{ /*classe da ul, é o que controla quando aparece e desaparece a lista de menu*/
    display: none;   /*none faz o elemento desaparecer (a lista do ambuerguer) e nao ocupa nenhum espaço*/
    position: absolute; /*permite movimentar o elemento de acordo com o pai (cabecalho) que teve a position diferente de static*/
    top: 100%; /*faz o lista-menu ir para baixo do cabeçalho*/
    width: 60vw; /*vm = viewport-width: pega 60% da largura no eixo x (horizintal) pra esticar o tamanho da lista-menu e chegar até o "coracao"*/
}

.container__botao:checked~.lista-menu{  /*cheched é uma pseduclasse que detecta se o input checkbox está selecionado*/
    display: block;   /*o sinal ~ é chamado de combinador css, esse combinador vai procurar o elemento que vem em seguida e que tem a classe que foi inserida*/

}
/*se o container__botao estiver checked, vai procurar outro elemento que venha depois dele, que tenha a classe lista-menu e vai inserir o display block*/
/*o til ~ é a maneira mais próxima de fazer uma condicional e fazer algo acontecer se determinada ação ocorrer*/
    
.lista-menu__titulo, .lista-menu__item{/*é o menu propriamente dito com a categoria e as opções*/
    padding: 1em; /* isso é o espaçamento entre os itens basicamente*/
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;

}

.lista-menu__link{
    background: var(--azul-degrade); /*Normalmente, o background é aplicado atrás do elemento todo.*/
    -webkit-background-clip: text; /*webkit serve para aplicar essa configuração de cor de fundo só na letra, ou seja, “Mostre o background somente na área das letras*/
    -webkit-text-fill-color: transparent;/*por padrao o browser corta o background no formato do texto, mas por padrao o texto é preto, usa-se transparent para retirar o preto e mostrar o gradiente. */
    background-clip: text; /*essa propriedade "prende" a cor azul em degrade apenas onde tem texto, faz o mesmo que o webkit-text-fill, mas background-clip: text padrão ainda não é universal em todos os navegadores */
    text-transform: uppercase;
    text-decoration: none; /*tira o sublinhado*/
}

.container__botao, 
.container__titulo,
.opcoes,
.container__texto{
    display: none; /*faz o icone do checkboz desaparecer, está no html, mas nao aparece e nem ocupa espaço, igual foi com a lista-menu*/
}

@media screen and (min-width: 1024px){
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo{
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 2em 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto; /*esse width é a largura padrão do item categorias, ou seja, preeche apenas o suficiente para ocupar seu espaço */
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~ .opcoes__rotulo > .opcoes__item{ 
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opções__item {
        padding: 2em 1em;
    }
    
    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }


}



@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
    
}